---
import BaseLayout from "@layouts/BaseLayout.astro";

import About from "@components/About.astro";

const projects = [
	// TODO: put in `src/content`
	{
		"id": 1,
		"name": "7UI Web Solutions",
		"description": "Your niche, on the web.",
		"image": "7ui.png",
		"link": "https://techno2-landing-page.vercel.app/"
	},
	{
		"id": 2,
		"name": "Talakutnangan",
		"description": "A capstone project aim to create a consultation chat platform for MCC.",
		"image": "talakutnangan.png",
		"link": "https://www.github.com/JAJAKUnit16/talakutnangan"
	},
	{
		"id": 3,
		"name": "Random Quote Machine",
		"description": "A certification project from freeCodeCamp.org",
		"image": "random_quote_machine.png",
		"link": "https://stackblitz.com/edit/lemredd-random-quote-machine"
	},
	{
		"id": 4,
		"name": "Calculator",
		"description": "Basic Calculator Built with Vue.",
		"image": "calculator.png",
		"link": "https://calculator-lemredd.vercel.app"
	},
	{
		"id": 5,
		"name": "Drum Machine",
		"description": "A certification project from freeCodeCamp.org",
		"image": "drum_machine.png",
		"link": "https://stackblitz.com/edit/lemredd-drum-machine"
	},
	{
		"id": 6,
		"name": "Markdown Previewer",
		"description": "A certification project from freeCodeCamp.org",
		"image": "markdown_previewer.png",
		"link": "https://stackblitz.com/edit/lemredd-markdown-previewer"
	},
];
---

<BaseLayout page_title="Lemredd">
	<div class="container">
		<section class="hero">
			<h1 class="name">Jarlem <span class="red">Red</span></h1>
			<h4 class="roles">Developer/Designer.</h4>
			<h4 class="welcome">Welcome to my website.</h4>
		</section>

		<section id="projects">
			<h2 class="section-heading">Projects</h2>
			<ul class="projects-container">
				{projects.map(({ id, name, description, link, image }) => (
					<li class={`project-item project-${id}`} style={`background-image: url('/images/${image}')`}>
						<a href={link} target="_blank" class="project-info">
							<h5>{name}</h5>
							<p>{description}</p>
						</a>
					</li>
				))}
			</ul>
			<a id="github-link" href="https://github.com/lemredd?tab=repositories">See all the things I've built</a>
		</section>

		<section id="about">
			<h2 class="section-heading">Who am I?</h2>
			<About />
		</section>

		<section id="contact">
			<h2 class="section-heading">Get in touch</h2>
			<ul class="plugs">
				<!-- `unoCSS` icon presets won't work if this is refactored into constants & mapped as elements -->
				<a href="https://linkedin.com/jarlemRed"><span class="i-simple-icons-linkedin"></span></a>
				<a href="https://www.github.com/lemredd"><span class="i-simple-icons-github"></span></a>
				<a href="mailto:jarlemdeperalta@gmail.com"><span class="i-simple-icons-gmail"></span></a>
			</ul>
		</section>
	</div>
</BaseLayout>

<style lang="scss">
@import "@styles/variables";

section:not(.hero) {
	@apply pb-[2rem]
}

.hero {
	@apply
		h-[inherit]
		flex flex-col items-center justify-center gap-y-2
		text-center
		lg:items-start
	;

	background-origin: border-box;
	background-position: center;
	background-size: cover;
	height: 100vh;

	.name {
		@apply
			relative
			text-[length:var(--SITE-H4)] font-bold
			md:font-semibold md:text-[length:var(--SITE-H2)] lg:text-[length:var(--SITE-H1)]
		;
	}
	.name .red {
		@apply text-site-primary;
	}

	.roles, .welcome {
		@apply text-[length:var(--SITE-H6)] md:text-[length:var(--SITE-H5)] lg:text-[length:var(--SITE-H4)];
	}
}

.section-heading {
	@apply
		mb-8
		text-[length:var(--SITE-H4)] font-semibold
		md:text-[length:var(--SITE-H3)] lg:text-[length:var(--SITE-H2)]
	;
}

#projects, #about, #contact {
	padding-top: $header-height;
}

.projects-container {
	@apply
		mb-[1rem]
		grid gap-[2rem]
		sm:grid-cols-2 sm:grid-rows-2
		lg:grid-cols-3 lg:grid-rows-3
	;

	.project-item {
		$shadow:
			0px 1.43668px 2.85018px 0px rgba(0, 0, 0, 0.10),
			0px 3.34039px 6.62689px 0px rgba(0, 0, 0, 0.07),
			0px 5.99856px 11.90037px 0px rgba(0, 0, 0, 0.06),
			0px 9.95539px 19.7502px 0px rgba(0, 0, 0, 0.05)
		;

		@apply
			rounded-[.25rem]
			w-full h-[256px]
			relative
			bg-cover bg-center
			sm:w-[initial] sm:bg-[position:initial]
		;

		&:hover::after {
			@apply mix-blend-normal bg-transparent;
		}

		box-shadow: $shadow;
		text-align: center;
	}

	.project-item::after {
		@apply content-[""] absolute inset-0 bg-site-white mix-blend-darken pointer-events-none;
	}

	.project-info {
		@apply
			block
			pl-4 pb-4
			absolute
			inset-0
			flex flex-col justify-end
			gap-y-2
			text-site-white text-left
			bg-gradient-to-t from-site-black to-50%
			opacity-0
			transition-opacity duration-300
		;

		h5 {
			@apply text-[length:var(--SITE-H5)];
		}
	}
	.project-item:hover .project-info {
		@apply opacity-100;
	}

	.project-1, .project-4, .project-5 {
		@apply lg:col-span-2;
	}
}

#github-link {
	@apply inline-block mt-8;
}

.plugs {
	@apply
		flex gap-4
		text-6
	;
}
</style>
